@import './_variables.scss';

.header {
  height: 70px;
  background: $bg-header;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__user-name {
    margin-left: auto;
    font-family: RobotoMed, serif;
    color: $text-color;
  }

  &__auth-btn {
    margin-left: 20px;
    width: 75px;
    height: 35px;
    background-color: transparent;
    color: $text-color;
    border-radius: 3px;
    border: 3px solid #066dab;
    font-family: RobotoMed, serif;

  }

  &__menu {
    margin: 0px 20px;
  }

  &__title {
    font-family: Lobster, serif;
    font-size: 28px;
    color: bisque;
    text-shadow: 2px 2px 2px black;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 20px;
  }

  &__item {
    font-family: RobotoMed, serif;
    color: rgb(239, 239, 239);
    cursor: pointer;
  }

}