@import './_variables.scss';

.header {
  height: 70px;
  background: $bg-header;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__user-name {
    margin-left: auto;
    font-family: RobotoMed, serif;
    color: $text-color;
  }

  &__auth-btn {
    margin-left: 20px;
    width: 75px;
    height: 35px;
    background-color: transparent;
    color: $text-color;
    border-radius: 3px;
    border: 3px solid #066dab;
    font-family: RobotoMed, serif;

  }

  &__menu {
    margin: 0px 20px;
  }

  &__title {
    font-family: Lobster, serif;
    font-size: 28px;
    color: bisque;
    text-shadow: 2px 2px 2px black;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 20px;
  }

  &__item {
    font-family: RobotoMed, serif;
    color: rgb(239, 239, 239);
    cursor: pointer;
  }

  @media (max-width: 767.93px) {
    display: none;
  }
}

.burger-menu {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 320px;
  height: 100%;
  padding: 90px 0px 0px 30px;
  background: $bg-header;
  transform: translateX(-100%);
  transition: .3s;
  z-index: 1;

  &.open {
    transform: translateX(0);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 28px;
    font-family: Amatic, serif;
    color: rgb(239, 239, 239);
    letter-spacing: 0.3rem;
  }

  &__item {
    cursor: pointer;
  }
}

.burger {
  width: 30px;
  height: 25px;
  display: none;
  transition: .3s all;
  z-index: 2;
  cursor: pointer;
  margin-right: 20px;


  @media (max-width: 767.93px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__line {
    display: block;
    height: 4px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 2px;
    transition: .3s all;
  }
}

.burger.open {
  .line1 {
    transform: rotate(45deg) translate(6px, 7px);
    top: 42%;

  }

  .line2 {
    display: none;
  }

  .line3 {
    transform: rotate(-45deg) translate(7px, -9px);
    top: -42%;
  }
}