.login {
  width: 320px;
  margin: 0 auto;

  &__title {
    text-align: center;
    margin-top: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  & label,
  & button {
    margin-top: 10px;
  }
}