.sprint-menu {
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  margin-top: 5em;
}

.sprint-menu__title {
  text-align: center;
  font-size: 3em;
}

.sprint-menu__about {
  font-size: 1.5em;
}

.sprint-game__score {
  font-size: 3em;
}

.sprint-game__timer {
  font-size: 3em;
}

.sprint-game {
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  text-align: center;
}


ul li {
  list-style-type: circle;
  font-size: 1.5em;
  list-style-position: inside;
}

.sprint-menu__buttons,
.sprint-game__buttons {
  display: flex;
  justify-content: center;
}

.sprint-menu__difficulty,
.sprint-game__correct-btn {
  width: 5em;
  height: 2em;
  font-size: 1.8em;
}

.sprint-menu__start,
.sprint-game__uncorrect-btn {
  width: 5em;
  height: 2em;
  margin-left: 0.5em;
  font-size: 1.8em;
}