@import './_variables.scss';

.textbook-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textbook-games {
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  background: $bg-auth-form;
  border-radius: 10px;
  gap: 10px;

  &__sprint,
  &__audio {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-auth-form;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    color: white;
  }
}

.textbook-pagination {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__btn,
  &__page {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.textbook-groups {
  position: absolute;
  top: 20px;
  right: 0.5%;
  width: 60px;
  padding: 20px 0px;
  border: 2px solid blue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .words-group {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  @media(max-width: 1023.95px) {
    right: -1%;
  }

  #group-6 {
    display: none;
  }
}

.textbook {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-card {
  display: flex;
  width: 85%;
  margin: 10px 0px;
  background: $bg-main;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgb(67, 67, 67);

  &__img-box {
    max-width: 30%;
  }

  &__img {
    height: 100%;
    max-width: 100%;
  }

  &__body {
    padding: 0px 20px;
    width: 70%;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 20px 0px;
    padding: 0px 0px 0px 10px;
    border-left: 4px solid rgb(175, 0, 0);
  }

  &__word {
    font-family: RobotoBold, serif;
    text-transform: capitalize;
    font-size: 22px;
  }

  &__audio {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  &__audio-btn {
    width: 100%;
  }

  &__title-row {
    display: flex;
    gap: 10px;
  }

  &__mid {
    margin: 10px 0px 20px 0px;
  }

  &__meaning-translate {
    margin: 0px 0px 15px 0px;
  }
}