$bg-auth-form: linear-gradient(to bottom, #c5deea 0%, #8abbd7 0%, #066dab 100%);
$text-form-color: rgb(29, 25, 67);
$bg-main: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 0%, #ededed 100%);
$bg-header: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);